<html>
<head>
    <title>Add New Cake</title>
</head>
<body>
<h2> Add new cake </h2>
<div>
    <h2>Add New Cake</h2>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    (function($){
        function createCake( e ){
            $.ajax({
                url: '/cakes',
                dataType: 'text',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify($(this)),
                success: function( data, textStatus, jQxhr ){
                    $('#response message').html( data );
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    console.log( errorThrown );
                }
            });

            e.preventDefault();
        }

        $('#newcake').submit(createCake);
    })(jQuery);
</script>

    <form id="newcake">
        <label for="title" >Title:</label> <input type="text" id="title" name="title"
                                                  maxlength="100" size="50"></input> </br>
        <label for="desc">Description:</label> <input type="text" id="desc"
                                                      name="desc" maxlength="100" size="50"></input> </br> <label
            for="image">Image:</label> <input type="text" name="image" id="image"
                                              maxlength="300" size="50"></input> <button type="submit">Submit</button>
    </form>

    <div id="response">
        <message></message>
    </div>

</div>

</body>
</html>
